.form {
    margin: 15px auto;
    width: 300px;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.labelInput{
    width: 300px;
    display: flex;
}

.input{
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(179, 35, 155);
}

.submit{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: rgb(179, 35, 155);
}
